@import url('./front3pagecss/font.css');
@import url('./front3pagecss/body.css');
@import url('./front3pagecss/middle-container.css');
@import url('./front3pagecss/buttons.css');

body {
  background-image: url('./background-images/home_background.jpg');
}

.container_main {
  flex-basis: auto;
  height: 500px;
  width: 800px;
}

@media (max-width: 720px) {
  .container_main {
    height: auto; /* Adjust for smaller screens */
    width: 90%; /* Adjust for smaller screens */
    padding: 20px; /* Add some padding to the container */
  }

  h1 {
    font-size: 40px; /* Adjust for smaller screens */
  }

  p {
    font-size: 18px; /* Adjust for smaller screens */
  }
}
