

body {
    
    background-image: url('./home_background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: 'Jim Nightshade', cursive;
   
   
}

.container_main {
    position: absolute;
   
    top: 25%;
    left: 25%; 
    background-color: rgba(0, 0, 0, 0.6); 
    /* height: 50vh;
    width: 85vh; */
    height: 500px;
    width: 800px; 
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    flex-basis:auto;
    justify-content: center; 
    
    gap:60px;
    z-index: 1; 

}



p , h1 {
    color: white;
}
h1 {
    font-size: 100px;
}

p {
    font-size: 36px;
}


.twoButtons {
    display:flex;
    flex-direction: row;
    gap:70px; 
    /* height:200px; */
    
    

}

 #start {    

    font-size: 30px;
    width: 300px;
    height: 70px;
    border-radius:0.5em ;
    border: none;
    
} 
.velocity {
    font-size: 40px;
}
.menuMain {
    font-size: 25px;

}

.historyQ {
    color: black ;
    background-color: transparent;
    text-decoration: none;
  }


  @media (max-width: 720px) {


    .container_main {
        height: auto; /* Adjust for smaller screens */
        width: 90%; /* Adjust for smaller screens */
        padding: 20px; /* Add some padding to the container */
    }

    h1 {
        font-size: 40px; /* Adjust for smaller screens */
    }

    p {
        font-size: 18px; /* Adjust for smaller screens */
    }
}

