@import url('./front3pagecss/font.css');  /* import fonts */
@import url('./front3pagecss/middle-container.css');

body {
  background-image: url('./background-images/america_img.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: 'Jim Nightshade', cursive;
}



.start {
  font-size: 30px;
  width: 300px;
  height: 70px;
  border-radius: 0.5em;
  border: none;
}

.select {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
